/* Imports */
/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body {
    background-color: cornflowerblue;
    text-align: center;
}
h1 {
    font-family: 'Nabla', cursive;
    font-size: 100px;
}
a {
    
}
