/* Imports */
/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Actual Css */
body {
    background-color: cornflowerblue;
    text-align: center;
}
h1 {
    font-family: 'Nabla', cursive;
    font-size: 100px;
}
h2 {
    font-family: 'Bungee Spice', cursive;
    font-size: 40px;
}
a:link {
    color: red;
    font-style: italic;
    text-decoration: none;
}
a:visited {
    color: aqua;
    text-decoration: none;
}
.info {
    font-family: 'Roboto', sans-serif;
}
.downloads {
    height: 70px;
}